*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.about-us{
    width: 100%;
    height: 100vh;
    padding: 115px 0;
    background:white;
}
.about{
    width: 1130px;
    max-width: 85%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pic{
    height: 400px;
    width:400px ;
    border-radius: 40px;
    transition: transform 0.3s ease;
}
.pic:hover{
    transform: scale(1.05);
}
.about-text{
    width: 540px;
    color: black;
}
.about-text h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 10px;
    letter-spacing: 1px;
    /* color: palevioletred; */
}
.about-text p{
    font-size:17px ;
}
.link{
    margin-top: 30px;

}
.hire{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #4070f4;
    padding: 8px 25px;
    border-radius: 6px;
    border: none;
}
span{
    color: #DE3893;
    font-size: 50px;
}

.about-heading{
    /* margin-top: %; */
    color:rgb(32, 1, 32);
    background-color: white;
    /* max-width: 820px; */
}
.about-heading h1{
    font-size: 50px;
    font-weight: 600;
    /* line-height: 85px; */
    margin-bottom: 25px;
    align-items: center;
    margin-left: 400px;
}

.about-heading p{
    font-size: 17px;
    /* margin-left: 100px; */
    /* width: 1000px; */
    align-items: center;
    /* font-weight: 30px; */
    padding-left: 100PX;    
    padding-right: 100PX; 
    text-align: center
   
}
/* 
.about-column{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    margin-left: 180pX;
}

.column-container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  
    

}

.Box1,.Box2,.Box3,.Box4,.Box5,.Box6{
    width: 300px;
    height: 290px;
    background-color:linear-gradient(pink, white);
    margin: 15px;
    padding: 5px;
    color:rgb(8, 8, 8) ;
    text-align: center;

}

.Box1,
.Box2,.Box3,
.Box4,.Box5,.Box6 .h1{
    color: palevioletred;
    box-sizing: border-box;
    box-shadow: #4070f4;
    pad: 0 10px;
}
.Box1,.Box2,.Box3,.Box4,.Box5,.Box6 .p{
    color: black;
} */
/* .About-container {
    display: flex;
  }
  
  .column {
    flex: 1; 
    border: 3px solid #ccc;
    padding: 40px;
    margin: 40px;
  } */
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
} */

.container{
    /* background:linear-gradient(45deg, rgba(199, 129, 163, 0.644), lightgreen); */
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#1a1616;
    /* text-shadow: 0 5px 10px rgba(0,0,0,.2); */
    font-size: 50px;
    font-weight: 700;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
    margin-left: 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#DE3893;
    font-size: 26px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.9;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 9px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}