/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container .order {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.book {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.book-name {
    margin-bottom: 8px;
    font-weight: bold;
}

.book-input,
.form-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.dash {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:palevioletred;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.dash:hover {
    background-color: peachpuff;
}

.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
