body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-bottom: 100px;
    /* background-color:; */
}

.heading-des{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 align-items: center;
    position: absolute;
  
}

.heading-des h1{
    font-size: 50px;
    color:black ;
    margin-bottom: 25px;
    font-weight: 800;
    position: relative;
    padding-top: 100px;
}

.heading-des h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 30px ;
    /* background-color: aliceblue; */
}
.heading-des p{
    font-size: 28px;
    color: rgb(24, 3, 3);
    margin-bottom: 35px;
}

.container-des{
  width: 90%; 
  margin: 0 auto; 
  padding: 10px 20px;
}

.about2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 300px;
}

.about2-image{
    float: 1;
    margin-right: 40px;

}

.about2-image img{
    /* max-width: 100%; */
    height: 450px;
    width: 450px;
    display: block;
    border: 100px;
    border-radius: 90px;
    border: 1px solid black;
    
    transition: 0.3s ease;
}

.about2-image img:hover{
  transform: scale(1.05);
}

.about-content2{
    flex: 1;
  padding: 40px;
}
.about-content2 h2{
   font-size: 23px;
   margin-bottom: 15px;
   color: aqua;
}

.about-content2 p{
    font-size: 18px;
    line-height: 1.5;
    color: black;
    /* padding-top: 500px; */
}

.about-content2 .Read-More{
    display: inline-block;
    padding: 10px 20px;
    background-color:#8f1e63;
    color: white;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content2 .Read-More:hover{
  transform: scale(1.05);
  background-color: white;
  color: black;
  border: 1px solid black;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    display: flex;
    height: 100vh;
  }
  
  .rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
  }
  
  .title{
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
  }
  .note{
    font-size: 1.1rem;
    color: #ffd9f0;
    font-style: italic;
      color: palevioletred;
      transition: transform 0.3s ease;
    
  
  }

  .note:hover{
    transform: scale(1.05);
  }
  
  .reviews{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
  }
  .review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
    
  }
  
  .head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
 
  }
  .review-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
    transition: transform 0.3s ease;
  
  }

  .review-img:hover{
    transform: scale(1.05);
  }
  

   
  .body-review{
    color:#ff66c4;
    padding: 5.9rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    transition: transform 0.3s ease;
    border-radius: 30px;
  }

  .body-review:hover{
    transform: scale(1.05);
  }
  .name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
  }
  .place-review{
    color: palevioletred;
    font-style: italic;
  }
  .rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
  }
  .desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: #ff66c4;
  }
  
  @media (max-width: 678px){
    .review{
      margin-top: 1.5rem;
    }
  }