

.picture{
   padding-top: 200px;
}

.Home-container{
    width: 100%;
    /* background-color:rgb(208, 145, 145); */
    background-image: url("../Assets/123.webp");
    opacity: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 55px;
  


    font-weight: 100px;
    


}
.Home-container .title{
    width: 100%;
    display: flex;
    justify-content:center ;
    font-weight: 100px;
    text-transform: uppercase;
    font-size: 62px;
    color:#DE3893;
    letter-spacing: 1.5px;
    /* padding: 50px 0px; */
    
}
.Home-container .title h1::after{
    content: "";
    height: 6px;
    width: 380px;
    background-color: #222;
    border-radius: 6px;
    box-shadow: 30px;
    position: relative;
    display: block;
    margin: auto;

}
.Home-content {
    width: 90%;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    grid-gap: 40px;
    /* margin: 40px auto; */
    
    
    
}
.Home-content .article{
    /* box-shadow: 0px 0px 2px 0px rgba(0, 0,0, 0.2); */
    /* background-color: rgb(14, 12, 12); */
    padding: 150px 300px;
    
    text-align: center;
    font-size: 100px;
    padding-left: 100px;
    
    

}
.Home-content .article h2{
   width: 1000px;
    font-size: 80px;
    /* align-items: center; */
    /* text-align: center; */
    line-height: 1.5;
    /* letter-spacing: px; */
    font-weight: 1000;
   /* color: palevioletred; */
    color: linear-gradient( #ff7e5f, #feb47b);
   padding-bottom: 20px;
   padding-right: 290px;
}
.Home-content .article p{
   margin-top: 30px;
   font-size: 19px;
   line-height: 1.5;
   color: #222;
}
.Home-content .article a {
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 9px 25px;
    background-color: #DE3893;
    border-radius: 25px;
    text-align: right;
    margin-right: 270px; 
    color: #ffd9f0;
    transition: transform 0.3s ease;
    letter-spacing: 1.5px;
    margin-top: 5px; 
}

.Home-content .article a:hover{
    transform: scale(1.05);
    color: black;
    background-color: #fff;
    font-family: 1000px;
    border: 1px solid black;
}
.jaanu{
width: 100px;
border-radius: 40px;


height: auto;
}
@media screen and (max-width:900px){
    .content {
        
        grid-template-columns: repeat(1,1fr);
       
    }
    .article{
        text-align: center;
    }
}