
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    box-shadow: 2px 2px  2px 2px #DE3893;
    
    opacity: 90%;
    padding: 0px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}


.logo{
    padding-right: 400px;
}

.logo img {
    width: 70px;
    height: auto;
  border-radius: 30px;
  transition: transform 0.8s ease;
}

.logo img:hover{
    transform: scale(1.05);
}

.bt1{
    padding:40px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #DE3893;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 4px;
}

.nav-links a:hover {
    color: black;
    border-radius: 60px;
}

.btn-log {
    background-color: #DE3893;
    border-radius: 19px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}